<html>
    <head>
        <title> Password Checker </title>
    </head>
    
    <body>
        <hi> Enter your password.</hi>

        <form action="/check_password">
            <input type="text" name="password">
            <input type="submit" value="submit"> 
        </form>

    </body>
</html>



